<html>
	<head>
	 <title>index</title>
	</head>
	<body>
	 <h3>Create entry for new plants</h3>
	 <form action='/plants' method='post'>
		Plant Name: <input type='text' name='name'>
		Description: <input type='text' name='description'>
		Location: <input type='text' name='location'>
		Detailed Info: <input type="textarea" name = 'info'>
	  <input type='submit' value='Submit'>
	 </form>
	 
	  <form action="/results">
            <input type="submit" value = 'Display all plants'>
     </form>
	</body>
</html